In [5]:
#Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
#Import Dataset - Car_sales.csv
cars = pd.read_csv('Car_sales.csv')

In [15]:
#Read top five values
cars.head(5)

,Manufacturer,Model,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor,Sales_in_thousands,__year_resale_value
0,Acura,Integra,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150,16.919,16.360
1,Acura,TL,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,91.370778,39.384,19.875
2,Acura,CL,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,NaN,14.114,18.225
3,Acura,RL,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,91.389779,8.588,29.725
4,Audi,A4,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,62.777639,20.397,22.255

In [16]:
#Print dataframe info - data types of each column
cars.dtypes

Manufacturer            object
Model                   object
Vehicle_type            object
Price_in_thousands     float64
Engine_size            float64
Horsepower             float64
Wheelbase              float64
Width                  float64
Length                 float64
Curb_weight            float64
Fuel_capacity          float64
Fuel_efficiency        float64
Power_perf_factor      float64
Sales_in_thousands     float64
__year_resale_value    float64
dtype: object

In [17]:
#Print number of rows and columns
cars.shape

(159, 15)

In [18]:
#Drop duplicate rows - if any
p=cars
#p.shape
cars.drop_duplicates(keep=False,inplace=True)
cars.shape

(155, 15)

In [19]:
#Print number of rows and columns after dropping duplicates
cars.shape

(155, 15)

In [21]:
#Print summary statistics for numerical variables
cars.describe()

,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor,Sales_in_thousands,__year_resale_value
count,153.000000,154.000000,154.000000,154.000000,154.000000,154.000000,153.000000,154.000000,152.000000,153.000000,155.000000,119.000000
mean,27.344490,3.040909,185.279221,107.437013,71.075974,187.097403,3.371523,17.938312,23.875000,76.780988,53.230703,18.041134
std,14.405178,1.036435,56.598401,7.668669,3.408391,13.326189,0.632021,3.911391,4.302029,25.128699,68.361766,11.523007
min,9.235000,1.000000,55.000000,92.600000,62.600000,149.400000,1.895000,10.300000,15.000000,23.276272,0.110000,5.160000
25%,17.890000,2.300000,148.500000,103.000000,68.400000,177.525000,2.967000,15.800000,21.000000,60.087967,14.232500,11.250000
50%,22.799000,3.000000,175.000000,107.000000,70.450000,187.250000,3.340000,17.200000,24.000000,71.838039,29.450000,14.010000
75%,31.930000,3.500000,215.000000,112.200000,73.100000,195.625000,3.770000,19.725000,26.000000,89.401935,68.183500,19.782500
max,85.500000,8.000000,450.000000,138.700000,79.900000,224.500000,5.572000,32.000000,45.000000,188.144323,540.561000,67.550000

In [24]:
#Print number of missing values in each column

cars.isnull().sum()

Manufacturer            0
Model                   1
Vehicle_type            0
Price_in_thousands      2
Engine_size             1
Horsepower              1
Wheelbase               1
Width                   1
Length                  1
Curb_weight             2
Fuel_capacity           1
Fuel_efficiency         3
Power_perf_factor       2
Sales_in_thousands      0
__year_resale_value    36
dtype: int64

In [33]:
#Drop the column with most missing values

cars.drop(['__year_resale_value'],axis=1,inplace=True)
cars.isnull().sum()

Manufacturer          0
Model                 1
Vehicle_type          0
Price_in_thousands    2
Engine_size           1
Horsepower            1
Wheelbase             1
Width                 1
Length                1
Curb_weight           2
Fuel_capacity         1
Fuel_efficiency       3
Power_perf_factor     2
Sales_in_thousands    0
dtype: int64

In [ ]:
#Drop the row(s) with categorical missing values
cars=cars(pd.notnull(cars['Model']))

In [ ]:
#Impute the rows with numerical missing values

In [15]:
#Sort the data w.r.t Price - find the details of the most and the least expensive cars

cars_sort =cars.sort

In [22]:
#Write a function to find min and max values of any column
def min_max_values(col):
    '''The function takes the column name as the argument
       and return the top & bottom observations in that data 
    '''
    top = cars[col].idxmax()
    top_obs = pd.DataFrame(cars.loc[top])
    
    bottom = cars[col].idxmin()
    bot_obs = pd.DataFrame(cars.loc[bottom])
    
    min_max_obs = pd.concat([top_obs, bot_obs], axis = 1)
    
    return min_max_obs

In [16]:
#Call the above function to find min max of horse power, length,  fuel efficiency

In [17]:
#Plot histogrma of cotinuous numerical variable - Price sales, horse power,  fuel efficiency using subplot

In [18]:
#Plot probability density distribution of cotinuous numerical variable - Length

In [34]:
#Count by category - group by manufacturer

In [20]:
#Select all numeroical variables
cars_num = cars.select_dtypes(include = ['float64', 'int64'])
cars_num.head()

In [19]:
#Plot histogram of all numerical variables at a time (single command)

In [1]:
#Print correlation coefficient value of price and sales

In [2]:
#Plot correlation of price and sales using scatterplot

In [ ]:
#Do pair plot of all numerical variables

In [3]:
#Do Box plot of Sales of different Manufacturers

In [5]:
#Do Box plot of other numerical variables w.r.t Manufacturer

In [ ]:
#Divide the data into input and output - y = Sales in thousand, X = all other variables

In [ ]:
#Encode categorical varible Vehicle type using one-hot encoder

In [6]:
#Encode other categorical variables using label encoder

In [7]:
#Split the data set into train and test set 70% - train set 30% - test set

In [ ]:
#Apply feature scaling on numerical variables

In [ ]:
#Apply other Visulaization techniques that you have learnt from the videos